

@font-face{font-family: "hyzyj";src: url("font/hyzyj.TTF");}
@font-face{font-family: "num";src: url("font/num.ttf");}

html,body{height: 100%}

body{
    margin:0 auto;
    padding:0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: "hyzyj";
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.clear{
    clear: both;
}

img{
    border: none;
    width: 100%;
}

.disnone{display: none;}

.bot{width: 100%;height: 40px;background: white;position: absolute;bottom: 0;left: 0;z-index: 500;box-shadow: 0 -2px 5px #cccccc}
.add img{height: 16px;position: absolute;width: auto;top: 12px;left: 5%}
.logo img{height: 26px;position: absolute;width: auto;top: 7px;right:5%}
.menu{position: absolute;width: 100%;height: 40px;background: #84cdc8;left: 0;bottom: 40px;z-index: 200}
.menu a{width: 33%;float: left;height: 40px;line-height: 40px;font-size: 16px;color: white;text-align: center;letter-spacing: 3px;}
.menu .line{width: 0.5%;height: 40px;float: left;background: #32bbac;}
.menu .on{background: #456a67}

.idpage{z-index: 205;position: absolute;left: 0;top: 0;width: 100%;height: 100%;overflow:hidden;}
.bg{width: 100%;position: absolute;top: 0;left: 0;}
.bg1{width: 100%;position: absolute;top: 50%;left: 0;}
.start{width: 30%;position: absolute;left: 35%;bottom: 55px;}

.introbg{width: 100%;position: absolute;height: 100%;z-index: 207;left: 0;top: 0;background: white;opacity: 0.9;display: none;}
.intro{width: 100%;position: absolute;left: 0;top: 0;z-index: 208;height: 90%;overflow:auto;}
.close{width: 5%;position: absolute;right: 5%;top: 5%}
.howto{width: 70%;float: left;position: relative;margin-left: 15%;margin-top: 30px}
.intro-btn{width: 50%;margin-left: 25%;float:left;margin-top: 20px;margin-bottom: 10px;}

.game{width: 100%;height: 100%;position: absolute;left: 0;top: 0;overflow:hidden;}
.bar{width: 100%;position: absolute;top: 0;left: 0;height: 25px;background: #84cdc8;color: white;z-index: 5}
#tcs{left: 7%;position: absolute;top: 28px;border:1px solid #fddbca;}

.infobox{position: absolute;width: 100%;left: 0;top: 0;z-index: 1000;background: url("../images/resultbg.jpg") no-repeat;background-size: 100%;}
.infotxt{margin-top: 15%;width: 70%;margin-left: 15%;float: left}
.name{width: 75%;margin-left: 10%;margin-top: 10%;color: #84cdc8;font-size: 18px;height: 37px;line-height: 34px;float: left}
.phone{width: 75%;margin-left: 10%;margin-top: 5%;color: #84cdc8;font-size: 18px;height: 37px;line-height: 34px;float: left}
.btn{width: 75%;margin-left: 10%;margin-top: 15%;height: 30px;float: left}
.info input{width: 70%;float: right;height: 34px;line-height: 32px;border: 1px solid #84cdc8;border-radius: 2px;color: #855761;padding-left: 5px;font-size: 16px;background: none;}
.info-btn{width: 60%;;float: right;margin-right: 13%}

.score{position: absolute;left: 0;top: 0;height: 100%;width: 100%;overflow: hidden;}
.suc-txt{width: 100%;position: absolute;top: 15%;text-align: center;}
.suc-txt .title{font-size: 30px;color: #fa7a79;margin-bottom: 30px;}
.suc-txt .txt{font-size: 14px;color: #4b4a4b;line-height: 25px;}

.suc-again{width: 40%;position: absolute;left: 30%;top: 50%;}

.rule{width: 100%;height: 100%;position: absolute;left: 0;top: 0;overflow:hidden;}
#wrapper {float: left;width:90%;overflow-x:hidden;height: 60%;position: relative;margin-top: 130px;margin-left: 10%;overflow-y:hidden;}
#wrapper li{width: 90%;float: left;font-size: 14px;line-height: 20px;margin-left: 5%;}
#scroller {position:relative;-webkit-tap-highlight-color:rgba(0,0,0,0);float:left;width:100%;padding:0;}
.myScrollbarV {position:absolute;z-index:100;width:10px;bottom:2px;top:0;right:0;}
.myScrollbarV > div {position:absolute;z-index:100;width:100%;background:#fa7a79;}
#thelist span{color: #fa7a79;}
#wrapper img{width: 90%}
.rule-tit{width: 100%;position: absolute;left: 0;top: 45px;}

.rank{width: 100%;height: 100%;overflow:hidden;position: absolute;left: 0;top: 0}
.rankbox{width: 86%;position: absolute;left: 7%;top: 25px;z-index: 10;overflow-y: auto;}
.ranktit{width: 100%;text-align: center;letter-spacing: 5px;font-size: 20px;line-height: 40px;color: #fa7a79;float: left;font-weight: bold}
.ranktable{width: 100%;float: left;font-size: 12px;color: #666666;font-weight: bold}
.ranktable .line1 td{color: #2b7284;font-weight: bold;border-top: 1px solid #2b7284;border-bottom: 1px solid #2b7284;text-align: center}
.ranktable tr{height: 20px;line-height: 20px;}
.ranktable td{text-align: center;}
.ranktable .last td{border-bottom: 1px solid #2b7284;}
.rankinfo{float: left;width: 100%;text-align: center;color: #666666;font-size: 12px;line-height: 20px;}
.rankinfo font{color: #660000}
.rankinfo span{font-size: 10px;}
.ranktip{width: 100%;margin-top: 20px;float: left;position: relative}
.er{width: 24%;position: absolute;left: 22%;top: 0}

.bank-tip{position: absolute;width: 50%;left: 0;top: 0;z-index: 10;display: none;}
.touchpart{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 150}
.count-down{width: 70%;position: absolute;left: 15%;top: 20%;}
.count-bg{width: 100%;float: left;position: relative;}
.dj{position: absolute;width: 20%;left: 40%;top: 32%}
.dj1{display: none;}
.dj2{display: none;}

.crazy{width: 80%;position: absolute;left: 10%;top: 15%;z-index: 10}
.crazy-tit{width: 50%;position: absolute;top: 28%;left: 25%;}
.cjdj{position: absolute;width: 10%;left: 45%;top: 53%;}
.cjdj1{display: none;}
.cjdj2{display: none;}

.danger{width: 70%;position: absolute;left: 15%;top: 20%;z-index: 10;display: none;}

.die-havelife{width: 100%;position: absolute;z-index: 206;display: none;}
.diebg{width: 100%;}
.die-h-txt1{width: 100%;font-size: 14px;color: white;text-align: center;top: 32%;z-index: 50;position: absolute;line-height: 25px;}
.die-again{width: 50%;position: absolute;left: 25%;top: 45%;text-align: center;color: white;line-height: 25px;border: 1px solid white;font-size: 14px}
.die-next{width: 50%;position: absolute;left: 25%;top: 54%;text-align: center;color: white;line-height: 25px;border: 1px solid white;font-size: 14px;}
.die-h-txt2{width: 100%;font-size: 12px;color: white;text-align: center;top: 62%;z-index: 50;position: absolute;line-height: 18px;}

.score .title{width: 100%;line-height: 35px;font-size: 20px;text-align: center;font-weight: bold;letter-spacing: 5px;color: #2b7284;float: left}
.score-box{width:100%;top: 30px;position: absolute;left: 0;z-index: 10}
.sctb{float: left;margin-left: 15%;width: 70%;}
.score-table{width: 100%;float: left;border: none;}
.score-table td{height: 40px;line-height: 40px;text-align: center;font-size: 12px;}
.score-table td .icon{width: 25px;height: 25px;}
.score-table td .sc-btn{height: 20px;width: auto;}
.score .hz{color: #f57f7f}
.score .sp{color: #40bc90}
.score .bx{color: #ae5da1}
.score .zz{color: #b29c0c}
.score .yp{color: #3a7afd}
.score .total{width: 100%;height: 40px;line-height: 40px;text-align: center;color: #2b7284;font-weight: bold;float: left;font-size: 20px}
.sc-again{width: 60%;float: left;margin-left: 20%;margin-top: 10px;}
.sc-next{width: 60%;float: left;margin-left: 20%;margin-top: 20px;}

.gg{position: absolute;left: 0;top: 0;z-index: 206;width: 100%;height: 100%}
.ggbg{width: 100%;height: 100%;background: black;opacity: 0.5;left: 0;top: 0}
.ggimg{width: 100%;top: 0;position: absolute;left: 0;}

.info{width: 100%;height: 100%;overflow:hidden;position: absolute;left: 0;top: 0}

.game .bar span{float: left;margin-left: 25px;height: 25px;line-height: 25px;font-size: 12px;}
.game .bar ul{height: 25px;line-height: 25px;float: left;margin-left: 10px;}
.game .bar ul li{float: left;margin-right: 4px;}
.game .bar ul li img{height: 25px;width: auto;}

.pop{position: absolute;z-index: 1000;width: 100%;left: 0;top: 0}
.popbg{position: absolute;width: 100%;height: 100%;z-index: 999;background: #feebe2;opacity: 0.8}
.pop-btn{position: absolute;width: 30%;right: 30%;top: 73%}

.rulemask{width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 200;}
.idtit{width: 100%;position: absolute;top: 13%;left: 0}

.bank{position: absolute;left: 0;top: 0;width: 12%;z-index: 10;display: none;}
.json{display: none;}
.black{width: 100%;height: 100%;z-index: 205;background: black;opacity: 0.7;position:absolute;left: 0;top: 0;display: none;}